[Unit]
Description="Service file for Monad ledger-tail"
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monad-ledger-tail \
    --ledger-path /home/monad/monad-bft/ledger \
    --forkpoint-path /home/monad/monad-bft/config/forkpoint/forkpoint.toml \
    --peers-path /home/monad/monad-bft/config/peers.toml \
    --validators-path /home/monad/monad-bft/config/validators/validators.toml
EnvironmentFile=-/home/monad/.env
User=monad
Restart=always
Group=monad
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
